.vscode
.history
data
output
assets
outputs
debug_output
debug_visuals
pretrained_models
tmp
third_party/Grounded-Segment-Anything
**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
**/.eggs/**
**/*.egg
**/*.egg-info